@model Exten.Models.Data.CategoriesForum

@{
    ViewData["Title"] = "Просмотр";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="CategoriesForums" asp-action="Index">Категории товаров</a></li>
        <li class="breadcrumb-item active">Просмотр категории</li>
    </ol>
</nav>

<h3>
    <a class="btn text-dark" asp-action="Index" title="Вернуться к списку">
        <i class="fas fa-arrow-left"></i>
    </a>
    Просмотр категории
</h3>
<hr />
<div>
    <h4>CategoriesForum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForumCategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForumCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a>
</div>
