@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><div class="tenor-gif-embed" data-postid="15322516" data-share-method="host" data-aspect-ratio="1.00313" data-height="450px" data-width="450px">
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script></h1>
    <h1 class="display-4">Welcome!!!</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <br>
    <br>
</div>
